{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Cohort Manager</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- load bundled vendor files using webpack loader -->
    {% render_bundle 'base' %}
    {% render_bundle 'vendor' %}

</head>

<body class="cohortman" {% if google_analytics %}data-google-analytics="{{ google_analytics }}"{% endif %} data-django-debug="{{ django_debug|lower}}">
    <main class="cohortman-content">
        {% block content %}{% endblock %}
    </main>


</body>

</html>
