{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="{{ csrf_token }}=" name="csrf-token" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/cohort_manager/img/favicon.png' %}">
    <title>Application Assignment Tool</title>

    <!-- fontawesome js -->
    <script src="https://kit.fontawesome.com/1cb7295b0a.js" crossorigin="anonymous"></script>
  
    <!-- base js libs -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

    <!-- load bundled vendor files using webpack loader -->
{#    {% render_bundle 'base' %}#}
    {% render_bundle 'vendor' %}

</head>

<body class="cohortman" {% if google_analytics %}data-google-analytics="{{ google_analytics }}"{% endif %} data-django-debug="{{ django_debug|lower}}">
    <script type="text/javascript">
      window.user_netid = '{{ netid }}';
    </script>
    <main class="cohortman-content">
        {% block content %}{% endblock %}
    </main>


</body>

</html>
