<html>
<body>
<script type='text/javascript' src='https://bitools.uw.edu/javascripts/api/viz_v1.js'>
</script>
<div class='tableauPlaceholder' style='width: 1150px; height: 727px;'>
  <object class='tableauViz' width='1150' height='727' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fbitools.uw.edu%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='&#47;t&#47;Transitional' />
    <param name='name' value='PuGo&#47;Awards' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='showAppBanner' value='false' />
  </object>
</div>
</body>
</html>
