/** app specific variables **/

//color
$uw-light-grey: #d1d1d1;
$uw-metallic: #e8e3d3;
$uw-purple: #4b2e83;
$nav-text: rgba(0, 0, 0, 0.5);

//text
$sub-header: #7e7e7e;
$text-color: #444;
$light-text: #fff;
$link-blue: #0069d9;

//borders
$banner-border: #999;
$table-border: #dee2e6;


//backgrounds
$app-bkgnd: #fff;
$nav-bkgnd: #eee;
$grey-bkgnd: #c4c4c4;

