//color
$uw-light-grey: #d1d1d1;
$uw-metallic: #e8e3d3;
$uw-purple: #4b2e83;

//text
$sub-header: #7e7e7e;
$text-color: #444;
$light-text: #fff;

//borders
$banner-border: #999;
$table-border: #dee2e6;


//backgrounds
$app-bkgnd: #fff;
$nav-bkgnd: #eee;
$banner-bkgnd: #c4c4c4;

