/** app specific variables **/

//color
$uw-light-grey: #d1d1d1;
$uw-metallic: #e8e3d3;
$uw-purple: #4b2e83;

//text
$sub-header: #595959;
$text-color: #3d3d3d;
$light-text: #fff;
$text-black: #000;
$link-blue: #0069d9;
$alert-red: #dc3545;

//borders
$banner-border: #999;
$table-border: #dee2e6;


//backgrounds
$nav-active-bkgnd: #735d9e;
$nav-hover-bkgnd: #dfdce5;
$app-bkgnd: #fff;
$nav-bkgnd: #fafafa;
$grey-bkgnd: #c4c4c4;
$light-grey-bkgnd: #ced4da;

