// Your variable overrides

//color
$blue: #0069d9;

body {
  background-color: $nav-bkgnd !important;
}

//typography

//navigation
.router-link-exact-active,
.router-link-exact-active:hover {
  color: #444;
  cursor: default;
  font-weight: bold;
}

//modals
.modal-backdrop {
  opacity: 0.75;
}

//pagination
.pagination {
  .page-link {
    border: 0;
  }
}

.page-item.active .page-link {
  background: none;
  color: inherit;
  font-weight: bold;
}

//forms


// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
