// Your variable overrides

//color
$blue: #0069d9;

//typography

//navigation
.aat-main-navbar {
  background-color: $nav-bkgnd;
}

.router-link-exact-active,
.router-link-exact-active:hover {
  color: $text-color;
  cursor: default;
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  border-color: #fff !important;
}

//modals
.modal-backdrop {
  opacity: 0.75;
}

//pagination
.pagination {
  .page-link {
    border: 0;
  }
}

.page-item.active .page-link {
  background: none;
  color: inherit;
  font-weight: bold;
}

//forms
.form-group {
  clear: both;
}


// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
