// Your variable overrides

//color
$blue: #0069d9;

//typography

//navigation
.aat-main-navbar {
  background-color: $nav-bkgnd;
}

.router-link-exact-active,
.router-link-exact-active:hover {
  color: $text-color;
  cursor: default;
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  border-style: none;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background: none;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  display: inline-block;
  height: 12px;
  margin-right: 0.3rem;
  position: relative;
  width: 1rem;
  
  &::before {
    border-top: 2px solid #fff;
    content: '';
    left: 0;
    position: absolute;
    top: 3px;
    width: 100%;
  }

  &::after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    left: 1.5rem;
    padding: 2px;
    position: absolute;
    transform: rotate(45deg);
    
  }

}

//modals
.modal-backdrop {
  opacity: 0.75;
}

//pagination
.pagination {
  .page-link {
    border: 0;
  }
}

.page-item.active .page-link {
  background: none;
  color: inherit;
  font-weight: bold;
}

//forms
.form-group {
  clear: both;
}

.btn.btn-primary {
  background-color: $uw-purple;
  border-color: $uw-purple;
  border-radius: 0;
  font-size: 0.8175rem;
  font-weight: bold;
  height: 2.5rem;
  min-width: 7rem;
  text-transform: uppercase;

  &:focus {
    background-color: $blue;
    border-color: $blue;
  }
}

.btn.btn-secondary {
  background-color: #fff;
  border: solid $uw-purple 1px;
  border-radius: 0;
  color: $uw-purple;
  font-size: 0.8175rem;
  font-weight: bold;
  height: 2.5rem;
  min-width: 7rem;
  text-transform: uppercase;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
